<button mat-button><a routerLink="/">{{'home' | translate | uppercase}}</a></button>
<button mat-button><a routerLink="/news">{{'news' | translate | uppercase}}</a></button>
<button mat-button><a routerLink="/about">{{'about us' | translate | uppercase}}</a></button>
<button mat-button><a routerLink="/contact">{{'contact' | translate | uppercase}}</a></button>
<button mat-button><a routerLink="/tvbroadcast">{{'TV broadcast' | translate | uppercase}}</a></button>

<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">UFO Hunters</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">{{'home' | translate | uppercase}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/news">{{'news' | translate | uppercase}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">{{'about us' | translate | uppercase}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">{{'contact' | translate | uppercase}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tvbroadcast">{{'TV broadcast' | translate | uppercase}}</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>

    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>-->
