.picsum-img-wrapper
img {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: block;
  margin: 0;
}

.carousel-indicators > li {
  visibility: hidden;
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
}

a.carousel-control-prev,
a.carousel-control-next
span {
  display: none;
}
