<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/iwanttobelieve.jpg" alt="Angular Carousel 1">
    </div>
    <div class="carousel-caption">
      <p>Истината е някъде там ...</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/slider3.jpg" alt="Angular Carousel 2">
    </div>
    <div class="carousel-caption">
      <p>НЛО е термин, с който най-общо се означава всеки летящ обект или небесна аномалия, които не могат непосредствено да бъдат идентифицирани с познати физични, химични или метеорологични явления, нито с позната земна техника. Голяма част от наблюденията намират разумно обяснение след внимателно изучаване на факти</p>
    </div>
  </ng-template>
</ngb-carousel>
