<form #form="ngForm" (ngSubmit)="login(form.value)">
  <div class="form-group">
    <label for="">Processor type</label>
    <input type="email" (click)="field(emailField)" class="form-control" [(ngModel)]="model.processor" name="processor">
  </div>

  <div class="form-group">
    <label for="">Email address</label>
    <input type="email" (click)="field(emailField)" minlength="3" maxlength="10" class="form-control" #emailField="ngModel" name="email" ngModel required>
  </div>
  <div class="form-group">
    <label for="">Password</label>
    <input type="password" class="form-control" name="pass" ngModel required>
  </div>

  <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Submit</button>
</form>
