<div class="container">
  <h1>Login Form</h1>
  <form #loginForm = "ngForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username"
             required
             name = "username"
             pattern="^[A-Z][\w]+$"
             [(ngModel)]="loginModel.username"
             #username = "ngModel">
      <div [hidden]="username.valid || username.pristine" class="alert alert-danger">Username must start with a capital letter and must contain only letters and digits.</div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password"
             required
             name = "password"
             pattern="^[\w]*$"
             [(ngModel)]="loginModel.password"
             #password = "ngModel">
      <div [hidden]="password.valid || password.pristine" class="alert alert-danger">Password must be only letters and digits and must be between 4 and 16 symbols.</div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="loginForm.invalid">Login</button>
  </form>
  <div *ngIf="loginFailed" class="alert alert-danger">{{errorMessage}}</div>
</div>
