<footer class="footer">
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-md-6 col-lg-4">
          <div class="footer_widget">
            <div class="footer_logo">
              <a href="#">
                <img src="assets/images/logo.png" alt="">
              </a>
            </div>
            <p>
              {{'UFO Hunters' | translate}}
            </p>
            <div class="socail_links">
              <ul>
                <li>
                  <a href="#">
                    <i class="fab fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>

          </div>
        </div>

        <div class="col-xl-2 col-md-6 col-lg-2">
          <div class="footer_widget">
            <h3 class="footer_title">
              {{'links' | translate | titlecase}}
            </h3>
            <ul>
              <li><a routerLink="/home">{{'home' | translate | titlecase}}</a></li>
              <li><a routerLink="/news">{{'news' | translate | titlecase}}</a></li>
              <li><a routerLink="/events">{{'events' | translate | titlecase}}</a></li>
              <li><a routerLink="/discussions">{{'discussions' | translate | titlecase}}</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 col-lg-3">
          <div class="footer_widget">
            <h3 class="footer_title">
              {{'address' | translate | titlecase}}
            </h3>
            <p>
              {{'Stara Zagora 6000, Bulgaria' | translate}} <br> {{'124 "Hristo Botev" str.' | translate}}
            </p>

            <ul class="socail_links">
              <li><a><i class="fa fa-phone-square"></i> +359 (42) 64 82 42</a></li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copy-right_text">
    <div class="container">
      <div class="footer_border"></div>
      <div class="row">
        <div class="col-xl-12">
          <p class="copy_right text-center">
            Copyright © 2020 {{'UFOHunters.org' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--<footer class="footer">
  <div class="row py-4 pt-md-5 container-fluid footer-background">
    <div class="col-md-3 px-3">
      <div class="footer-section-title">{{'follow us' | translate | uppercase}}</div>
      <div class="socail_links mt-3">
        <ul>
          <li>
            <a href="http://www.facebook.com">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="http://www.twitter.com">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="http://www.instagram.com">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>

      <div _ngcontent-smu-c1="" class="input-group mt-3"><input _ngcontent-smu-c1="" aria-describedby="basic-addon2"
                                                                class="form-control" type="text" placeholder="{{'signup' | translate | uppercase}}"
                                                                aria-label="Запиши се">
        <div _ngcontent-smu-c1="" class="input-group-append"><span _ngcontent-smu-c1="" class="input-group-text"
                                                                   id="basic-addon2"><mat-icon _ngcontent-smu-c1=""
                                                                                               aria-hidden="false"
                                                                                               aria-label="search"
                                                                                               class="mat-icon notranslate mat-icon-no-color"
                                                                                               role="img"
                                                                                               svgicon="search"
                                                                                               ng-reflect-svg-icon="search"><svg
          version="1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" enable-background="new 0 0 48 48" fit=""
          height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
    <g fill="#616161">
        <rect x="34.6" y="28.1" transform="matrix(.707 -.707 .707 .707 -15.154 36.586)" width="4" height="17"></rect>
        <circle cx="20" cy="20" r="16"></circle>
    </g>
    <rect x="36.2" y="32.1" transform="matrix(.707 -.707 .707 .707 -15.839 38.239)" fill="#37474F" width="4"
          height="12.3"></rect>
    <circle fill="#64B5F6" cx="20" cy="20" r="13"></circle>
    <path fill="#BBDEFB"
          d="M26.9,14.2c-1.7-2-4.2-3.2-6.9-3.2s-5.2,1.2-6.9,3.2c-0.4,0.4-0.3,1.1,0.1,1.4c0.4,0.4,1.1,0.3,1.4-0.1 C16,13.9,17.9,13,20,13s4,0.9,5.4,2.5c0.2,0.2,0.5,0.4,0.8,0.4c0.2,0,0.5-0.1,0.6-0.2C27.2,15.3,27.2,14.6,26.9,14.2z"></path>
</svg></mat-icon></span></div>
      </div>
    </div>

    <div class="col-md-1 px-1">
      <div class="footer_logo">
        <a routerLink="/">
          <img src="assets/images/logo.png" alt="">
        </a>
      </div>
    </div>

    <div class="col-md-3 px-3">
      <div class="footer-section-title">{{'UFO Hunters' | translate | uppercase}}</div>
      <div class="footer-navs">
        <p>
          {{'Stara Zagora 6000, Bulgaria' | translate}} <br> {{'127 "Gen. Stoletov" blvd.' | translate}}
        </p>
        <i class="fa fa-phone-square pr-2"></i> +359 (88) 833 90 90
        <i class="fa fa-phone-square p-2"></i> +359 (2) 954 11 26
        <br><i class="fa fa-phone-square pr-2"></i> +359 (2) 954 11 81
        <i class="fa fa-fax p-2"></i> +359 (2) 954 11 86
      </div>
    </div>

  &lt;!&ndash;  <div class="col-md-1 px-1">
      <div class="footer-section-title">{{'navigate' | translate | uppercase}}</div>
      <div class="footer-navs-links" *ngFor="let i of [0,1,2,3]" [ngClass]=" menu.items[i].classes">
        <a class="footer-navs-links" [routerLink]="menu.items[i].route">{{menu.items[i].label | translate | titlecase}}</a>
      </div>
    </div>
    <div class="col-md-1 px-1">
      <div class="footer-section-title">&nbsp;</div>
      <div class="footer-navs-links" *ngFor="let i of [4,5,6]" [ngClass]=" menu.items[i].classes">
        <a class="footer-navs-links" [routerLink]="menu.items[i].route">{{menu.items[i].label | translate | titlecase}}</a>
      </div>
    </div>&ndash;&gt;
  </div>
</footer>-->
