<form fxLayout="column" fxLayoutAlign="center center" [formGroup]="postQuestionForm">
  <mat-form-field appearance="outline">
    <mat-label>Question</mat-label>
    <textarea matInput formControlName="text" type="text" placeholder="Please ask a question"></textarea>
    <mat-icon matSuffix>question_answer</mat-icon>
    <mat-hint>Question must be 6 to 70 symbols</mat-hint>
    <mat-error *ngIf="postQuestionForm.get('text').hasError('required')">Question field is required!</mat-error>
    <mat-error *ngIf="postQuestionForm.get('text').hasError('minlength')">Question must be at least 7 symbols!</mat-error>
    <mat-error *ngIf="postQuestionForm.get('text').hasError('maxlength')">Question shouldn't be more than 70 symbols!</mat-error>
  </mat-form-field>
  <button [disabled]="postQuestionForm.invalid" mat-fab type="submit" color="primary">Ask</button>
</form>
